PORT=3000
NODE_ENV=development


DB_HOST=backboard-postgres
DB_PORT=5432
DB_NAME=backboard-notification-service
DB_USER=postgres
DB_PASSWORD=postgres


RABBITMQ_URL=amqp://backboard:backboardpass@backboard-rabbitmq:5672
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE=user.events

# Tracing is automatically disabled if OTEL_EXPORTER_OTLP_TRACES_ENDPOINT is not set
OTEL_ENABLED=true

# Comment out or remove if you don't have an APM server running
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://apm-server:4317
OTEL_EXPORTER_OTLP_PROTOCOL=grpc

OTEL_SERVICE_NAME=notification-service
OTEL_RESOURCE_ATTRIBUTES=deployment.environment=local,service.version=0.1.0

OTEL_TRACES_SAMPLER=parentbased_traceidratio
OTEL_TRACES_SAMPLER_ARG=0.2

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=backboard.info@gmail.com
SMTP_PASSWORD=
SMTP_FROM=backboard.info@gmail.com

RESET_PASSWORD_BASE_URL=http://localhost:3000

